html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Start Override Theme*/
.form-floating > .form-select {
    padding-bottom:0.225rem;
}
/*End Override Theme*/

/*Start Override image Preview For Create New Book*/
.img-thumbnail {
    max-height: 250px;
    max-width: 350px;
}
/*End Override image Preview For Create New Book*/

/*Start Override on Height for input Check switch in Book form*/
.form-switch.form-check-solid .form-check-input {
    height: 1.9rem;
}
    /*End Override on Height for input Check switch in Book form*/


/*Start Custome Styles*/
.datatable-spinner + div {
    display: none !important;
}

/*End Custome Styles*/
